extends layout

block content
 div.row-fluid
   div.box-content#tbContent
     h2
     - var ar = gamearray;
     - for (var i in ar) {
       button.btn.btn-primary(type="button",onclick="showChart(#{ar[i].GameID},'#{ar[i].GameName}')") #{ar[i].GameName} 
       lable &nbsp;
     -}
   div#container(style="min-width: 500px; height: 500px; margin: 0 auto")
        
 script.
      $(document).ready(function () {
            var chart;
            timerID = 0;
            createChart();
        });
       
        function showChart(gameID,gameName) {    
            var series = chart.series[0];      
            chart.setTitle({text: gameName + ' 实时线人数'});   
            series.setData([]);
            clearInterval(timerID);        
            GetData(gameID);
            timerID = setInterval(function () {                           
              GetData(gameID);
            }, 2000);
        }
        function GetData(gameID)
        {
             var series = chart.series[0];     
                                
                $.ajax({
                    url: "/RealTimeData",
                    data:{ id: gameID},
                    type: "get",
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        if(data.result == 0)
                        {
                            var x = data.dt;
                            var y = data.num;
                            if(series.data.length >= 20)
                            series.addPoint([x, y], true, true); 
                            else
                            series.addPoint([x, y], true, false); 
                        }                     
                    }
                });
        }


        function createChart() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container', 
                    type: 'spline',
                    marginRight: 10,
                    global: {
                        useUTC: true   
                    }
                },              
                title: {
                    text: '!{chartTile}'
                },
                subtitle: {
                    text: '!{chartSubTile}'
                },
                xAxis: {
                    type: 'datetime' 
                },
                yAxis: {
                    title: {
                        text: '!{yText}'
                    },
                    labels: {
                        formatter: function () {
                            return this.value
                        }
                    },
                    min: 0,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]

                },
                tooltip: {
                    formatter: function () {
                        return Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' + this.y;
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [{
                    name: '!{seriesName}',
                    data: (function () {
                        var data = [];                          
                        return data;
                    }())
                }]
            });
        }


  
